{# {%extends "base.html"%}

{%block content%}

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{from_city}}-->{{to_city}}</h5>
  </div>
  <div class="card-footer text-muted"> #}
    {# {%date%} #}
  {# </div>
</div>
<br/>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item">{{from_city}}</li>
  <li class="list-group-item">{{to_city}}</li>
  <li class="list-group-item">9:00</li>
</ul>
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">{{from_city}}</li>
  <li class="list-group-item">{{to_city}}</li>
  <li class="list-group-item">7:00</li>
</ul>
<ul class="list-group list-group-horizontal-md">
  <li class="list-group-item">{{from_city}}</li>
  <li class="list-group-item">{{to_city}}</li>
  <li class="list-group-item">13:00</li>
</ul>
<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item">{{from_city}}</li>
  <li class="list-group-item">{{to_city}}</li>
  <li class="list-group-item">16:30</li>
</ul>
<ul class="list-group list-group-horizontal-xl">
  <li class="list-group-item">{{from_city}}</li>
  <li class="list-group-item">{{to_city}}</li>
  <li class="list-group-item">19:00</li>
</ul>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">{{from_city}}</li>
  <li class="list-group-item">{{to_city}}</li>
  <li class="list-group-item">22:00</li>
</ul>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{{url_for('core.payment')}}">
  <button type="button" class="btn btn-success">Proceed to payment</button>
  </a>
</li>
{%endblock%} #}

    {%extends "base.html"%} {%block content%}

    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">{{from_city}}-->{{to_city}}</h5>
      </div>
      <div class="card-footer text-muted">{# {%date%} #}</div>
    </div>
    <br />

    <form method="post">
      <div style="display: flex; flex-direction: row">
        <h5>Select Number Of Passengers</h5>
        <input
          type="number"
          id="myNumber"
          min="1"
          max="4"
          value="1"
          name="Passengers"
        />
      </div>
      <div class="form-check" style="display: flex; flex-direction: row;">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
          value="{{Neeta}}"
        />
        <h5>Neeta Travels<span >-----------</span></h5>

        <li
          style="
            background: none;
            font-weight: bold;
            border: none;
            font-size: large;
            padding-bottom: 20px;
          "
          class="list-group-item"
        >
          09:00 AM
        </li>
      </div>
      <div
        class="form-check"
        style="display: flex; flex-direction: row"
        name="VRL"
      >
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          value="VRL"
        />
        <h5>VRL Travels<span>-------------</span></h5>
        <li
          style="
            background: none;
            font-weight: bold;
            border: none;
            font-size: large;
            padding-bottom: 20px;
          "
          class="list-group-item ListBackGround"
        >
          11:00 AM
        </li>
      </div>
      <div
        class="form-check"
        style="display: flex; flex-direction: row"
        name="Shrinath"
      >
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          value="Shrinath"
        />
        <h5>Shrinath Travels<span>--------</span></h5>
        <li
          style="
            background: none;
            font-weight: bold;
            border: none;
            font-size: large;
            padding-bottom: 20px;
          "
          class="list-group-item ListBackGround"
        >
          13:00 PM
        </li>
      </div>
      <div
        class="form-check"
        style="display: flex; flex-direction: row"
        name="SRS"
      >
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          value="SRS"
        />
        <h5>SRS Travels<span>-------------</span></h5>
        <li
          style="
            background: none;
            font-weight: bold;
            border: none;
            font-size: large;
            padding-bottom: 20px;
          "
          class="list-group-item ListBackGround"
        >
          15:00 PM
        </li>
      </div>
      <div
        class="form-check"
        style="display: flex; flex-direction: row"
        name="HANS"
      >
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          value="HANS"
        />
        <h5>HANS TRAVELS<span>--------</span></h5>
        <li
          style="
            background: none;
            font-weight: bold;
            border: none;
            font-size: large;
            padding-bottom: 20px;
          "
          class="list-group-item ListBackGround"
        >
          17:00 PM
        </li>
      </div>
      <div
        class="form-check"
        style="display: flex; flex-direction: row"
        name="Gujarat"
      >
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          value="Gujarat"
        />
        <h5>Gujarat Travels<span>---------</span></h5>
        <li
          style="
            background: none;
            font-weight: bold;
            border: none;
            font-size: large;
            padding-bottom: 20px;
          "
          class="list-group-item ListBackGround"
        >
          19:00 PM
        </li>
      </div>
      <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{{url_for('core.review')}}">
  <button type="button" class="btn btn-success">Proceed to payment</button>
  </a>
</li>
    </form>
    <script>
      function IncreaseFunction() {
        document.getElementById("myNumber").stepUp();
      }
      function DecreaseFunction() {
        document.getElementById("myNumber").stepDown();
      }
    </script>
    <section class="stickey-bottom">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: BuggyBus
      <a class="text-white" href="{{url_for('core.contact')}}">Contact Us</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
    {%endblock%}
